.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body {
  margin-top: 65px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
